<div class="navigation">
  <mat-toolbar color="accent" class="navigation_block">
    <div>
      <button (click)="toggleSideBar()" mat-button class="navigation_button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-form-field floatLabel="never">
        <mat-label class="form_label">Search</mat-label>
        <input type="text" matInput/>
        <mat-icon>search</mat-icon>&nbsp;&nbsp;
      </mat-form-field>
    </div>
    <div class="navigation_buttonsBlock">
      <button mat-button (click)="createTask()" class="navigation_button">
        <mat-icon>
          add_circle_outline
        </mat-icon>
      </button>
      <button mat-button class="navigation_button">
        <mat-icon
          [matBadge]="tasksCompleted +'/'+ tasksToday"
          matBadgeOverlap="false"
          [matBadgeHidden]="tasksToday === 0">
          trending_up
        </mat-icon>
      </button>
      <button mat-button class="navigation_button">
        <mat-icon
          [matBadge]="tasksOverdue"
          matBadgeOverlap="false"
          [matBadgeHidden]="tasksOverdue === 0">
          schedule
        </mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
