<div class="aside">
  <h1 class="aside_title">Filters</h1>
  <div class="aside_block">
    <button mat-raised-button class="aside_button" (click)="changeFilter('today')">
      <mat-icon>today</mat-icon>&nbsp;&nbsp;
      Today tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button" (click)="changeFilter('upcoming')">
      <mat-icon>view_comfy</mat-icon>&nbsp;&nbsp;
      Upcoming tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button" (click)="changeFilter('expired')">
      <mat-icon>history</mat-icon>&nbsp;&nbsp;
      Expired tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button" (click)="changeFilter('completed')">
      <mat-icon>check_circle</mat-icon>&nbsp;&nbsp;
      Completed tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button" (click)="changeFilter('uncompleted')">
      <mat-icon>error_outline</mat-icon>&nbsp;&nbsp;
      Uncompleted tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button" (click)="changeFilter('')">
      <mat-icon>clear</mat-icon>&nbsp;&nbsp;
      Clear filter
    </button>
  </div>
</div>
