<div class="aside">
  <h1 class="aside_title">Filters</h1>
  <div class="aside_block">
    <button mat-raised-button class="aside_button">
      <mat-icon>today</mat-icon>&nbsp;&nbsp;
      Today tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button">
      <mat-icon>view_comfy</mat-icon>&nbsp;&nbsp;
      Upcoming tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button">
      <mat-icon>history</mat-icon>&nbsp;&nbsp;
      Expired tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button">
      <mat-icon>check_circle</mat-icon>&nbsp;&nbsp;
      Completed tasks
    </button>
  </div>
  <div class="aside_block">
    <button mat-raised-button class="aside_button">
      <mat-icon>clear</mat-icon>&nbsp;&nbsp;
      Clear filter
    </button>
  </div>
</div>
